<<<<<<< HEAD
div {
    text-align: center;

}
.square1 {
    background-color: blue;
}


.square2 {
    background-color: red;
}

.square3 {
    background-color: orange;
=======
body {
    columns: 3;
}

.c1s {
    background-color: red;
}

.c2 {
    background-color: blue;
}

.c3 {
    background-color: yellow;
>>>>>>> 87861a1669c20441cb57efa7a2c1ea9ff00be2e7
}